@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Galvin;
  src: url(/public/assets/fonts/Galvin-Bold.ttf);
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
scroll-snap-type: y mandatory;
scroll-padding-top: 50px;
}
nav {
  font-family: Galvin;
  font-size: larger;
  font-style: normal;
}
.image_hero {
  position: relative;
  bottom: -550px;
  left: 700px;
}
section{
  scroll-snap-align: start;
}
